<meta charset="utf-8">
  {{ if eq .URL "/" }}
    <title>{{ .Title }}</title>
  {{ else }}
    <title>{{ .Title }} – {{ .Site.Title }}</title>
{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Clean responsive bootstrap website template">
<meta name="author" content="">

<!-- styles -->

<link href="https://quanteda-org.netlify.com/css/bootstrap.css" rel="stylesheet">
<link href="https://quanteda-org.netlify.com/css/bootstrap-responsive.css" rel="stylesheet">
<link href="https://quanteda-org.netlify.com/css/docs.css" rel="stylesheet">
<link href="https://quanteda-org.netlify.com/css/prettyPhoto.css" rel="stylesheet">
<link href="https://quanteda-org.netlify.com/js/google-code-prettify/prettify.css" rel="stylesheet">
<link href="https://quanteda-org.netlify.com/css/flexslider.css" rel="stylesheet">
<link href="https://quanteda-org.netlify.com/css/refineslide.css" rel="stylesheet">
<link href="https://quanteda-org.netlify.com/css/font-awesome.css" rel="stylesheet">
<link href="https://quanteda-org.netlify.com/css/animate.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">

<link href="https://quanteda-org.netlify.com/css/style.css" rel="stylesheet">
<link href="https://quanteda-org.netlify.com/color/quanteda.css" rel="stylesheet">

<!-- Manual fixes -->

<link href="{{ "css/main.css" | relURL }}" rel="stylesheet">

<!-- fav and touch icons -->
<link rel="shortcut icon" href="/ico/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/ico/apple-touch-icon.png" />
